@import url('https://fonts.googleapis.com/css?family=Barlow|Lato&display=swap');


$blue : #015B9C;



$enable-rounded : false;



$font-family-base : 'Lato', sans-serif;

$headings-font-family : 'Barlow', sans-serif;